.cd-timeline {
    overflow: hidden;
    padding: var(--space-lg) 0;
  }
  .cd-timeline__container {
    position: relative;
    padding: var(--space-md) 0;
  }
  .cd-timeline__container::before {
    content: '';
    position: absolute;
    top: 0;
    left: 18px;
    height: 100%;
    width: 4px;
    background: var(--cd-color-2);
  }
  


  .cd-timeline__block {
    display: flex;
  }
  .cd-timeline__block:nth-child(even) {
    flex-direction: row-reverse;
  }
  .cd-timeline__img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    order: 1;
  }
  .cd-timeline__content {
    flex-grow: 1;
    width: 45%;
    flex-grow: 0;
  }
  